<?xml version="1.0" encoding="utf-8"?>
<!--站点通用设置-->
<SiteConfig>
  <RewriteExtension>.aspx</RewriteExtension>
  <FooterHtml />
  <SendMailAuthorByPost>0</SendMailAuthorByPost>
  <SendMailAuthorByComment>0</SendMailAuthorByComment>
  <SendMailNotifyByComment>1</SendMailNotifyByComment>
  <SmtpEmail>yourname@gmail.com</SmtpEmail>
  <SmtpServer>smtp.gmail.com</SmtpServer>
  <SmtpServerPost>25</SmtpServerPost>
  <SmtpUserName>yourname</SmtpUserName>
  <SmtpPassword>yourpassword</SmtpPassword>
  <SmtpEnableSsl>1</SmtpEnableSsl>
  <SiteName>Jeffiy&amp;#39; blog</SiteName>
  <SiteDescription />
  <MetaKeywords />
  <MetaDescription />
  <SiteStatus>1</SiteStatus>
  <SiteTotalType>1</SiteTotalType>
  <EnableVerifyCode>1</EnableVerifyCode>
  <CommentStatus>1</CommentStatus>
  <CommentOrder>0</CommentOrder>
  <CommentApproved>1</CommentApproved>
  <CommentSpamwords />
  <RssStatus>1</RssStatus>
  <RssRowCount>20</RssRowCount>
  <RssShowType>2</RssShowType>
  <SidebarPostCount>10</SidebarPostCount>
  <SidebarCommentCount>10</SidebarCommentCount>
  <SidebarTagCount>10</SidebarTagCount>
  <PageSizePostCount>10</PageSizePostCount>
  <PageSizeCommentCount>50</PageSizeCommentCount>
  <Theme>default</Theme>
  <MobileTheme>mobile</MobileTheme>
  <WatermarkType>1</WatermarkType>
  <WatermarkPosition>4</WatermarkPosition>
  <WatermarkTransparency>8</WatermarkTransparency>
  <WatermarkQuality>80</WatermarkQuality>
  <WatermarkText>Jeffiy' blog</WatermarkText>
  <WatermarkFontSize>14</WatermarkFontSize>
  <WatermarkFontName>Tahoma</WatermarkFontName>
  <WatermarkImage>watermark.gif</WatermarkImage>
  <PostRelatedCount>5</PostRelatedCount>
  <PostShowType>2</PostShowType>
</SiteConfig>